# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Reference documentation
references
technical

# Deprecated versions
deprecated

# Backup files, desktop.ini, and .ssh folder
*.bak
desktop.ini
.ssh

# Test files
*.test.*
*.old.*
